@page "/C_ocupaciones"
@inject OcupacionesBLL ocupacionesBll


<EditForm Model="ocupaciones">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header text-center">
            <h3>Consulta Ocupaciones</h3>

        </div>

        <div class="card-body">
            <form>
                <div class="form-group text-center">

                   <button type="button" class="bi bi-file-earmark-person btn btn-lg btn-primary" @onclick="Buscar"> Generar Tabla Ocupaciones</button>

                <div class="row gy-3">
                    <div class="col-md-6">
                        <label>Filtro</label>
                        <select class="form-control" @bind="Filtro">
                            <option value="0"></option>
                            <option value="1">OcupacionId</option>
                            <option value="2">Descripcion</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Criterio</label>
                            <div class="input-group">
                                <input type="text" class="form-control" @bind="Criterio" />
                                <div class="input-group-append">
                                    <button type="button" class="input-group-text btn btn-primary" @onclick="Buscar"> <i class="oi oi-magnifying-glass" /></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
        <table class="table table-secondary">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>OcupacionID</th>
                    <th>Descripción</th>
                    <th>Salario</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ocupacion in ocupaciones)
                {
                    <tr>
                        <td>@ocupacion.OcupacionId</td>
                        <td>@ocupacion.Descripcion</td>
                        <td>@ocupacion.Salario</td>
                        <td><a href="ocupacion/@ocupacion.OcupacionId">Ver</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

@code {

    #nullable disable
    public Ocupaciones ocupacion { set; get; } = new Ocupaciones();
    public List<Ocupaciones> ocupaciones { get; set; } = new List<Ocupaciones>();
    public string Filtro { get; set; }
    public string Criterio { get; set; }
    public async Task Buscar()
    {
        ocupaciones = await ocupacionesBll.GetOcupaciones(o => true);
        if (Criterio != null)
        {
            switch (Filtro)
            {
                case "0":
                    ocupaciones = await ocupacionesBll.GetOcupaciones(o => true);
                    break;
                case "1":
                    ocupaciones = await ocupacionesBll.GetOcupaciones(o => o.OcupacionId.ToString() == (Criterio));
                    break;
                case "2":
                    ocupaciones = await ocupacionesBll.GetOcupaciones(o => o.Descripcion.ToLower().Contains(Criterio.ToLower()));
                    break;
            }
        }
        else
        {
            ocupaciones = await ocupacionesBll.GetOcupaciones(o => true);
        }
    }

    public async Task Generar(){
        ocupaciones = await ocupacionesBll.GetOcupaciones(o => true);
    }

}
